body {
    background: #023f63;
}

h1, .middle h1{
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    margin-top: -15px;
}

input[type="text"] {
    border: none;
    margin-left: 13%;
    padding: 7px 15px;
    padding-right: 30px;
    width: 75px;
    border-radius: 7px;
    text-transform: lowercase;
}

input[type="text"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    overflow: hidden;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    left: -30px;
    background: transparent;
    border: none;
}

input[type="text"]:focus {
  outline: none;
}

.middle {
    text-align: center;
}
.middle h1 {
    color: goldenrod;
    margin: 30px 0;
}

.middle p {
    color: white;
    font-family: 'Sansita', serif;
}

audio {
    width: 50%;
    height: 30px;
}

.bottom {
    /* text-align: center; */
    width: 50%;
    margin: 0 auto;
}
.bottom p {
    color: white;
    text-align: left;
}

.definition {
    background: white;
    border-radius: 15px;
    padding: 1px 10px;
    font-size: 14px;


}

.definition p {
    color: #023f63;
}

img {
    width: 12px;
}